input[type=text] {
  background-color: lightblue;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid grey;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 4px solid green;
  	
}